.List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;
  }

  .ListItemOdd {
    background-color: #ffffff;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
}

.copyEffect {
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

.copyEffect::before {
  background: #5332ED;
  content: "Click to copy!";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  height: 110%;
  width: 100%;
  cursor: pointer;
}

.copyEffect:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.newWindowButton {
  background-color: #5332ED;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: auto;
  color: white;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.newWindowButton:hover {
  box-shadow: #5432ed7e 0px 7px 29px 0px;
}