
/* Color palette:
#0E0A1C
#5332ED
#22D3D7*/


.App {
  text-align: center;
  background-color: #0E0A1C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.hoverButton {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.hoverButton:hover {
  letter-spacing: 3px;
  background-color: #5332ED;
  color: white;
  box-shadow: #5432ed7e 0px 7px 29px 0px;
}

.hoverButton:active {
  background-color: #5432ed7e;
  transition: 300ms;
}

.tealHover:hover {
  background-color: #22D3D7;
  box-shadow: #22D3D77e 0px 7px 29px 0px;
}

.tealHover:active {
  background-color: #22D3D77e;
  transition: 300ms;
}

.gts-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem; 
  font-weight: bold;
  color: #ffffff;
  transition: transform 1.5s;
}

.gts-title:hover {
  transform: rotate3d(0.1,1,0.1, 360deg);
}

.spotify-button {
  background-color: #1DB954;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.5s ease;
}

.spotify-button:hover {
  font-size: 30px;
  background-color: #9afabb;
  color: white;
  box-shadow: #38da7166 0px 7px 29px 0px;
}

.spotify-button:active {
  transform: scale(0.9);
}


input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #d9dddd;

}


