.List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: medium;
  }

  .ListItemOdd {
    background-color: #ffffff;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
}